<section class="container-fluid">
  <section class="row">
    <article class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1 px-0" *ngFor="let item of Listado" routerLink="{{item.filmId}}/{{item.title | normalize | lowercase}}" >
      <img src="https://picsum.photos/id/{{item.filmId}}/150/200" class="card-img-top" [alt]="item.title" (error)="imageErrorHandler($event)">
      <div class="card-footer">
        <a routerLink="{{urlBase ? urlBase : ''}}{{item.filmId}}/{{item.title | normalize | lowercase}}">
          {{item.title}}</a>
      </div>
    </article>
  </section>
</section>
