<ng-container [ngSwitch]="search">
  <h1 *ngSwitchDefault class="display-1">Catálogo <a *ngIf="VM.auth.isInRoles(VM.roleMantenimiento)" class="btn btn-link" routerLink="add"><svg class="bi flex-shrink-0 me-2 text-primary" width="24" height="24" role="img" aria-label="añadir">
    <use xlink:href="assets/crud-sprite.svg#circle-plus" />
  </svg></a></h1>
  <ul *ngSwitchCase="'categorias'" class="nav nav-underline nav-fill">
    <li class="nav-item" *ngFor="let cat of VM.Categorias" >
      <a class="nav-link" aria-current="page" routerLink="." [queryParams]="{ categoria: cat.id}" routerLinkActive="active">{{cat.categoria}}</a>
    </li>
  </ul>
</ng-container>
<app-peliculas-list-body [Listado]="VM.Listado" (imageError)="VM.imageErrorHandler($event)" />
<!-- <section class="container">
  <section class="row">
    <article class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 px-0" *ngFor="let item of VM.Listado" [routerLink]="[item.filmId, item.title]" >
      <img src="https://picsum.photos/id/{{item.filmId}}/150/200" class="card-img-top" [alt]="item.title" (error)="VM.imageErrorHandler($event)">
      <div class="card-footer">
        <a [routerLink]="[item.filmId, item.title]">
          {{item.title}}</a>
      </div>
    </article>
  </section>
</section> -->
<p-paginator *ngIf="pagina" [first]="VM.rowsPerPage*VM.page" [rows]="VM.rowsPerPage" [totalRecords]="VM.totalRows" [pageLinkSize]="5"
  (onPageChange)="VM.pageChange($event.page)"></p-paginator>
